<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clorderclientapp">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".activites.MultiDexClass"
        >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.clorderclientapp.activites.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.clorderclientapp.activites.MultiLocationActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.clorderclientapp.activites.JohnniesPizzaScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.clorderclientapp.activites.NewUserSignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="com.clorderclientapp.activites.SignInUserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".activites.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.clorderclientapp.activites.OrderHistoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.clorderclientapp.activites.OrderHistoryDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.clorderclientapp.activites.AllDayMenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activites.ChangePasswordActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.clorderclientapp.activites.MenuItemActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.clorderclientapp.activites.CartActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activites.OrderTimingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.clorderclientapp.activites.AddItemSelectionActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.clorderclientapp.activites.ItemSelectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>


        <activity
            android:name="com.clorderclientapp.activites.DeliveryAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="com.clorderclientapp.activites.UserCardListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.clorderclientapp.activites.PaymentAddCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">

        </activity>

        <activity
            android:name="com.clorderclientapp.activites.RestaurantPromotionsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activites.OrderConfirmationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--<activity android:name="com.facebook.FacebookActivity"-->
        <!--android:configChanges=-->
        <!--"keyboard|keyboardHidden|screenLayout|screenSize|orientation"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
        <!--android:label="@string/app_name" />-->

        <!--<activity-->
        <!--android:name="com.facebook.CustomTabActivity"-->
        <!--android:exported="true">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<category android:name="android.intent.category.BROWSABLE" />-->
        <!--<data android:scheme="@string/fb_login_protocol_scheme" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!--<meta-data-->
        <!--android:name="com.google.android.geo.API_KEY"-->
        <!--android:value="@string/google_maps_key" />-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCZjRFntVLR5DNvDTIB73JHiS6PkrO7cC0" />

        <!-- This element is required in order to use the PaymentsClient -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>